body {
  max-width: 100vw;
  overflow-x: hidden;
}

iframe {
  border-width: 0;
}

input {
  color: var(--theme-son);
}

input::-webkit-input-placeholder {
  color: var(--theme-grandson);
}

.el-submenu__title i,
.el-submenu__icon-arrow .el-icon-arrow-down {
  color: inherit !important;
  /* color: #fff !important; */
}

.el-menu--horizontal>.el-submenu .el-submenu__icon-arrow {
  display: none !important;
}

.el-menu--horizontal .el-menu .el-menu-item {
  text-align: center !important;
}

.table-container-item:hover,
.articleList .container .item:hover {
  background-color: rgba(0, 0, 0, .1);
}

[class*="up"] {
  -webkit-overflow-scrolling: touch;
}

.upc {
  max-height: calc(100% - 70px);
  overflow-y: scroll;
  height: calc(100% - 70px);
  background-color: var(--greyLight);
}

.up-main * {
  transition-duration: .3s;
}

.u-sidebar {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--sidebarWidth);
  /* border-right: var(--greyLight) 1px solid; */
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 0 0 25px 0 rgba(45, 69, 95, .1);
  ;
}

.u-sidebar.left {
  left: calc(0% - var(--sidebarWidth));
}

.u-sidebar.right {
  right: calc(0% - var(--sidebarWidth));
}


.u-mobile .u-sidebar.right {
  width: 100vw;
  right: -100vw;
}

.u-sidebar.right.active {
  right: 0 !important;
}

.show-u-sidebar-menu .u-sidebar.left {
  left: 0 !important;
}

.u-content {
  height: 100vh;
  width: 100vw;
  margin-left: 0px;
  overflow-x: hidden;
  position: relative;
}

.show-u-sidebar-menu .u-content {
  margin-left: var(--sidebarWidth);
  width: calc(100% - var(--sidebarWidth));
}

.u-mobile.show-u-sidebar-menu .u-content {
  width: 100vw;
}

.u-mobile .u-content .u-shade {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.u-mobile.show-u-sidebar-menu .u-content .u-shade,
.u-mobile .u-content .u-shade.active {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.u-logo {
  height: 70px;
  font-weight: bold;
  border-bottom: rgba(45, 69, 95, .1) 1px solid;
}

.u-logo img {
  width: 40px;
  height: 40px;
}

.u-header {
  position: relative;
  height: 70px;
  background-color: var(--white);
  border-bottom: var(--greyLight) 1px solid;
  box-shadow: 0 0 25px 0 rgba(45, 69, 95, .1);
}

.u-header>.content {
  height: 100%;
  width: 100%;
}
